<section>
    <form class="LoginForm" fxFlex (ngSubmit)='onSubmit(f)' fxLayout='column' fxLayoutGap='10px'
        fxLayoutAlign='center center' #f="ngForm">

        <mat-form-field class="example-full-width">
            <input name="email" matInput placeholder="Email" ngModel name="email" required email #email='ngModel'>
            <mat-error>
                Please enter a valid email address
            </mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input name="password" matInput placeholder="Password" ngModel #password='ngModel' name="password" required
                minlength="2" type="password">
            <mat-error *ngIf="password.hasError('required')">
                Password Required
            </mat-error>

            <mat-error *ngIf="!password.hasError('required')">
                Password Length Must Be greater then 1
            </mat-error>

        </mat-form-field>



        <div fxLayout='row' fxLayout.lt-sm = 'column' fxLayoutGap='10px'>
            <button type="submit" mat-raised-button color='primary'
                [disabled]='f.invalid'>{{isLoading ? 'Please Wait..' : 'Login'}}</button>
            <button type="button" (click)='loginWithGoogle()' mat-raised-button color='warn'><img
                    src="http://pluspng.com/img-png/google-logo-png-open-2000.png" height="20px" />Login with
                Google</button>
            <a mat-raised-button color='accent' href = 'https://github.com/himanshurahi/Angular_fitness_app'>Source Code</a>
        </div>
    </form>
</section>

<!-- <section class="container">
    <div id="child1" class="child"></div>
    <div id="child2" class="child"></div>
    <div id="child3" class="child"></div>
</section> -->
