<section>
    <form class="SignupForm" fxFlex (ngSubmit)='onSubmit(f)' fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='center center'
        #f="ngForm">
      
        <mat-form-field class="example-full-width">
            <input name="email" matInput placeholder="Email" ngModel name="email" required email #email='ngModel'>
            <mat-error>
                Please enter a valid email address
            </mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input name="password" matInput placeholder="Password" ngModel #password='ngModel' name="password" required
                minlength="2" type="password">
            <mat-error *ngIf="password.hasError('required')">
                Password Required
            </mat-error>

            <mat-error *ngIf="!password.hasError('required')">
                Password Length Must Be greater then 1
            </mat-error>
            <!-- {{password.value?.length}} -->
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Birthday" required name="birthday"
                ngModel>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>
        <mat-checkbox color='primary' required name='terms' ngModel>Agree Terms & Condition</mat-checkbox>
        <button type="submit" mat-raised-button color='primary' [disabled]='f.invalid'>Register</button>
       
    </form>
</section>

<!-- <section class="container">
    <div id="child1" class="child"></div>
    <div id="child2" class="child"></div>
    <div id="child3" class="child"></div>
</section> -->