mat-sidenav-container{
    height: 100%;
}
mat-sidenav{
    width: 250px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: lightgrey;
}

.nav-item{
    padding: 5px !important;
}
.nav-item:hover{
    color: black;
}
mat-icon{
    margin-right: 10px;
}


